.ghe {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: none;
  border: none;
  background-color: rgb(201, 201, 200);
  color: #fff;
  margin: 2% 5% 2% 5%;
  cursor: pointer;
}
.gheDaDat {
  background-color: rgb(247, 70, 70);
  cursor: no-drop;
}
.gheDangDat {
  background-color: rgb(29, 173, 29);
}
